name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

env:
  HOME: /root
  ENV: ${{ vars.ENV }}
  WEB_UI_URL: ${{ secrets.WEB_UI_URL }}

jobs:
  playwright-tests:
    environment: testing
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .env file
      run: |
        mkdir -p .env
        echo "WEB_UI_URL=$WEB_UI_URL" >> .env/$ENV.env
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

